asgiref
certifi
cffi
charset-normalizer
cryptography
Django
django-cors-headers
django-decouple
django-environ
djangorestframework
djangorestframework-simplejwt
gunicorn
idna
packaging
psycopg2
pycparser
PyJWT
python-dateutil
pytz
requests
six
sqlparse
typing-extensions
urllib3
